<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <script src="/static/js/teachable.js"></script>
    <title>AI Live</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Stream</h1>
        </div>
        <div class="stream">
            <video id="video" autoplay playsinline>Video Stream</video>
        </div>
        <div class="model">
            <h2>Model</h2>
        </div>
    </div>
    <div id="tf-container"></div>
</body>
</html>